# Java
*.class
bin/

/.recommenders
/.metadata
.metadata/
.settings/

*.log
*.ctxt

.mtj.tmp/

*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*


# Jetbrains
/.idea
.idea/

# Python
*.pyc
*.sqlite3



# Maven

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar